HTTP_PORT=3000
HTTP_LOG_LEVEL=debug
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/wallet?schema=public"
NODE_URL=https://mainnet.infura.io/v3/<API_KEY>
DEFAULT_TOKEN_GAS_LIMIT=300000
DEFAULT_ETH_GAS_LIMIT=21000
